:root {
    --accent1: #DBE9F0;
    --accent2: #C19AB7;
    --accent3: #134E62;
    --dark: #242521;
}

* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding-right: 4px;
}

#scores-link {
    text-decoration: none;
    color: var(--dark);
    padding: 5px;
    background-color: var(--accent1);
    border-radius: 3px;
    border: solid 2px var(--dark);
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    padding: 20px;
    border: solid 2px var(--dark);
    border-radius: 5px;
    background-color: var(--accent1);
    color: var(--dark);
    margin-top: 20px;
}

h1 {
    font-size: 250%;
    color: var(--accent3);
}

#start-button {
    background-color: var(--accent3);
    color: white;
    font-size: 125%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    border: solid 3px var(--dark);
    box-shadow: 2px 2px 3px var(--dark);
}

#start-button:hover {
    cursor: pointer;
}

.question-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: flex-start; */
    max-width: 600px;
    padding: 20px;
    border: solid 2px var(--dark);
    border-radius: 5px;
    background-color: var(--accent1);
    color: var(--dark);
    margin-top: 20px;
    /* display: none; */
    display: none;
}

.question-container ul {
    list-style-type: none;
    padding: 0;
}

.question-container li {
    padding: 5px;
}

.question-container button {
    width: 300px;
    text-align: left;
    background-color: var(--accent2);
    border: solid 2px var(--dark);
    color: var(--dark);
    font-size: 100%;
    border-radius: 3px;
    padding: 5px;
    padding-left: 10px;
    transition: 0.2s;
}

.question-container button:hover {
    background-color: #b37296;
    border: solid 2px var(--dark);
    box-shadow: 2px 2px 5px var(--dark);
    font-size: 110%;
    cursor: pointer;
}

#end-card {
    display: none;
    width: 400px;
}

#initials-input {
    border: solid 1px var(--dark);
    border-radius: 3px;
    min-width: 200px;
    height: 25px;
}

#submit-button {
    background-color: var(--accent2);
    border: solid 2px var(--dark);
    color: var(--dark);
    /* font-size: 100%; */
    border-radius: 3px;
    padding: 5px;
    /* padding-left: 10px; */
    /* transition: 0.2s; */
}

#submit-button:hover {
    background-color: #b37296;
    border: solid 2px var(--dark);
    box-shadow: 2px 2px 5px var(--dark);
    /* font-size: 90%; */
    cursor: pointer;
}

#correct-answer {
    color: var(--accent3);
    font-style: italic;
    font-size: 110%;
}