:root {
    /* --accent2: #C19AB7; */
    /* --accent3: #134E62; */
    --accent1: #DBE9F0;
    --accent2: #A1869E;
    --accent3: #534D76;
    --dark: #242521;
}

* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding-right: 4px;
}

#scores-link {
    text-decoration: none;
    color: var(--dark);
    padding: 5px;
    background-color: var(--accent1);
    border-radius: 3px;
    border: solid 2px var(--dark);
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    padding: 20px;
    border: solid 2px var(--dark);
    border-radius: 5px;
    background-color: var(--accent1);
    color: var(--dark);
    margin-top: 20px;
}

h1 {
    font-size: 250%;
    color: var(--accent3);
}

#start-button {
    background-color: var(--accent3);
    color: white;
    font-size: 125%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    border: solid 3px var(--dark);
    box-shadow: 2px 2px 3px var(--dark);
}

#start-button:hover {
    cursor: pointer;
}

.question-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding: 20px;
    border: solid 2px var(--dark);
    border-radius: 5px;
    background-color: var(--accent1);
    color: var(--dark);
    margin-top: 20px;
    display: none;
}

.question-container ul {
    list-style-type: none;
    padding: 0;
}

.question-container li {
    padding: 3px;
}

.question-container button {
    width: 300px;
    text-align: left;
    background-color: var(--accent3);
    border: solid 2px var(--dark);
    /* border: none; */
    /* color: var(--dark); */
    color: whitesmoke;
    font-size: 100%;
    border-radius: 3px;
    padding: 10px;
    transition: 0.2s;
}

.question-container button:hover {
    background-color: var(--accent2);
    border: solid 2px var(--dark);
    color: var(--dark);
    /* border: none; */
    box-shadow: 2px 2px 5px var(--dark);
    font-size: 110%;
    cursor: pointer;
}

#end-card {
    display: none;
    width: 400px;
}

#initials-input {
    border: solid 1px var(--dark);
    border-radius: 3px;
    min-width: 200px;
    height: 25px;
}

#submit-button {
    background-color: var(--accent3);
    border: solid 2px var(--dark);
    color: whitesmoke;
    border-radius: 3px;
    padding: 5px;
}

#submit-button:hover {
    background-color: var(--accent2);
    border: solid 2px var(--dark);
    box-shadow: 2px 2px 5px var(--dark);
    color: var(--dark);
    cursor: pointer;
}

#correct-answer {
    color: var(--accent3);
    font-style: italic;
    font-size: 110%;
}


/* ----- Leaderboard Page Specifics ----- */

#leaderboard {
    list-style-type: none;
    padding: 0;
    font-size: larger;
    counter-reset: li;
}

#leaderboard li {
    padding: 4px;
    counter-increment: li;
}

#leaderboard li::before {
    content: counter(li);
    color: var(--accent3);
    font-weight: 800;
    font-size: 120%;
    display: inline-block;
    padding-right: 25px;
    text-align: right;
}

.two-col {
    display: flex;
    flex-direction: row;
    width: inherit;
    justify-content: space-evenly;
}

.leaderboard-bttns {
    background-color: var(--accent3);
    color: white;
    font-size: 125%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    border: solid 3px var(--dark);
    box-shadow: 2px 2px 3px var(--dark);
    text-decoration: none;
}

.leaderboard-bttns:hover {
    cursor: pointer;
}